body {
    background: url("/static/assets/images/background.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #234453;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    margin-bottom: 25px;
}

.social {
  float: left;
  margin: 5px 0px 0px 10px;
}

.transbox {
    padding: 30px 30px 30px 30px;
    background:rgb(0,0,0);
    background-color: rgba(255, 255, 255, 0.5);

}

.ontop {
  position: relative;
  color: black;
}

.light-gray-text {
  color: gray;
}
