<!doctype html>
<html>

<head>
    <title>Blog</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <link rel=stylesheet type=text/css href="{# url_for('static', filename='css/blog.min.css') #}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/hilite.css') }}" />
    <!-- jQuery  -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- tether -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
    <!-- Bootstrap css and js -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Slick -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
    <!-- mdb -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mdb.min.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- css and js files  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="navbar navbar-dark navbar-static-top scrolling-navbar" role="navigation">
        <div class="navbar-header">
            <button id="nav-icon4" class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
                <i class="fa fa-bars"></i>
            </button>
            <div class="container">
                <div class="collapse navbar-toggleable-xs" id="collapseEx">
                    <a class="navbar-brand" href="/">Home</a>
                    <!--Links-->
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Blog</a>
                        </li>
                        {% if session.logged_in %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('drafts') }}">Drafts</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('create') }}">Create Entry</a></li>
                        {% block extra_header %}{% endblock %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log out</a></li>
                        {% endif %} 
                    </ul>
                    {% block search_bar %}
                    <form action="{{ url_for('blog') }}" class="navbar-form navbar-right" id="search-form" method="get" role="search">
                        <div class="form-group">
                            <input class="form-control" name="q" placeholder="Search" type="text" value="{% if search %}{{ search }}{% endif %}">
                        </div>
                    </form>
                    {% endblock %}
                    <ul class="nav navbar-nav pull-xs-right">
                        <li class="social"><a href="https://www.twitter.com/frances_liu168"><i class="fa fa-lg fa-twitter"></i></a></li>
                        <li class="social"><a href="https://github.com/thepomeranian"><i class="fa fa-lg fa-github"></i></a></li>
                        <li class="social"><a href="https://www.linkedin.com/in/frances-liu"><i class="fa fa-lg fa-linkedin"></i></a></li>
                        <li class="social"><a href="mailto:frances.liu168@gmail.com"><i class="fa fa-lg fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container transbox ontop">
        {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <p>{{ message }}</p>
        </div>
        {% endfor %} {% block page_header %}
        <div class="page-header">
            <h1>{% block content_title %}{% endblock %}</h1>
        </div>
        {% endblock %} {% block content %}{% endblock %}
    </div>
</body>
<script>
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-84138923-1', 'auto');
ga('send', 'pageview');
</script>

</html>
