{% extends "base.html" %} {% block bodyclass %}mybodyclass{% endblock %} {% block content %}
<div class="container transbox ontop">
    <div class="col-md-5">
        <h3>Contact</h3>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Email</th>
                    <td><a href="mailto:frances.liu168@gmail.com">frances.liu168@gmail.com</a></td>
                </tr>
                <tr>
                    <th>GitHub</th>
                    <td><a href="https://github.com/thepomeranian">thepomeranian</a></td>
                </tr>
                <tr>
                    <th>LinkedIn</th>
                    <td><a href="https://www.linkedin.com/in/frances-liu">frances-liu</a></td>
                </tr>
                <tr>
                    <th>Twitter</th>
                    <td><a href="https://twitter.com/intent/tweet?screen_name=frances_liu168" class="twitter-mention-button" data-show-count="false">Tweet to @frances_liu168</a>
                        <a href="https://twitter.com/intent/tweet?screen_name=frances_liu168" class="twitter-mention-button" data-show-count="false">Tweet to @frances_liu168</a></td>
                </tr>
                <tr>
                    <th>Resume</th>
                    <td><a href="assets/Frances_Liu_Software_Engineer_Resume.pdf">PDF</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-7">
        <a class="twitter-timeline" data-width="300" data-height="400" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/frances_liu168">Tweets by frances_liu168</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
{% endblock %}
